body{
  padding: 0;
  margin: 0;
}
body{
        background-image: url("Untitled-1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

.head{
    top: 3%;
    color:black;
    font-family: 'Exo',sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
}


@media screen and (max-width:480px) and (orientation: portrait) {

  .body{
    background-size: cover;
  }
  iframe{
    width: 80%;
  }
}
